.maintenance-inspection-form {
}

.maintenance-inspection-form__section {
    margin-bottom: 1rem;
}

.maintenance-inspection-form__section h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}


.maintenance-inspection-form__section-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

#save-inspection-report-draft {
    position: fixed;
    top: 4rem;
    right: 3rem;
    background-color: var(--color-warning);
    color: var(--color-white);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

#save-inspection-report-draft svg {
    font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
    .maintenance-inspection-form__section-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .maintenance-inspection-form__section-items {
        grid-template-columns: repeat(3, 1fr);
    }
}

.maintenance-inspection-form__section-item p {
    margin-bottom: 0.5rem;
}

.maintenance-inspection-form__section-condition-check {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}


.form-item--radio {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-item--radio input {
    width: 1.5rem;
    height: 1.5rem;
}


.maintenance-inspection-form__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

