.create-invoice__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.5rem;
}

.create-invoice__header > button {
    padding: 2rem 4rem;
    width: 50%;
    background-color: var(--color-bg-secondary);
    border-radius: 0.5rem;
}


.create-invoice__section {
}

.create-invoice__section h2 {
    font-size: 1.5rem;
    font-weight: bold;
}


.create-invoice__table {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    table-layout: fixed;

    /*    remove all table borders*/
    border-collapse: collapse;
    border-spacing: 0;
    outline: none;
}

.create-invoice__table th {
    background-color: #5b5b81;
    color: #fff;
}

.create-invoice__table tr {
    height: 2.5rem;
}

.create-invoice__table tr td:first-child input {
    text-align: left;
}

.create-invoice__table input {
    /* sizes */
    padding-inline: 1rem;
    height: 2.5rem;
    width: 100%;
    /* transition */
    outline: rgba(0, 0, 0, 0) 1px solid;
    transition: all 0.2s ease-in-out;
    text-align: right;
}

.create-invoice__table tfoot input {
    background-color: var(--color-bg-secondary);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}


.create-invoice__table tfoot tr td:first-child {
    padding-inline: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.create-invoice__new-row-button {
    background-color: rgba(0, 0, 0, 0.1);
    height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-inline: 2rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.create-invoice__new-row-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.create-invoice__table input:focus {
    outline: rgba(0, 0, 0, 0.2) 1px solid;
}

.create-invoice__table--items tr th:nth-child(2) {
    width: 100px;
}


.total-row {
    background-color: red;
    height: 2.5rem;
}
