  .role-input{
        display: flex;
        justify-content: space-between;
        margin-bottom: .25rem;  
    }

    .role-input-item{
        margin-top:0.75rem;
        background-color: #FFFFFF;
        border-radius: 8px; 
        text-align:left;
        padding: 0.25rem;
        width: 4cm;
        margin-bottom:1rem;
    }

    .form-input{
        display: flex;
        flex-direction: column;
        gap: .25rem;
        margin-top: .5rem;
    }

    .form-input>input{
        width: 645px;
        height: 40px;
        padding-left: .5cm;
        border-radius: 0.5rem;
        border-color: black;
    }

    .form-input-small>input{
        width: 309px;
        height: 40px;
        padding-left: .5cm;
        border-radius: 0.5rem;
        border-color: black;
    }

    .form-input-small{
        display: flex;
        flex-direction: column; 
        gap: .25rem;
        margin-top: .5rem; 
    }

    .Two-small-input-in-one-line{
        display: flex;
        gap: .7cm;
    }

    .page-format{
        display: flex;
        justify-content: space-between;
    }

    .body-part{
        margin-right: 2rem;
    }
    
    #image-preview{
        width: 600px;
        height: 560px;
    }

    .create-employee-reset-btn{
        width: 150px;;
    }
    
    .pic{
        width: auto;
        height:500px;
    }

    .create-reset-buttons{
        display: flex;
        /* flex-direction: row; */
        gap:2cm;
    }
    
    #image-preview-update{
        width: 600px;
        height: 480px;
    }

    .delete-update-btn{
        float: right;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }