.create-admitting-reports{
    width: 100vw;
    transition: all 0.2s ease-in-out;
} 

.create-admitting-reports-button{
    margin:1cm;
}
.admitting-images{
    display: flex;
    width: 100px;
    gap: 0.5cm;
    margin: .5cm;
}

.create-admitting-report-btn{
    display: flex;
    gap: 10rem;
    margin-left: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#create-btn, #cansel-btn{
    width: 10rem;
}

.item-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.description-grid{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

#spare_wheel{
    margin-left: 42rem;
}

.add-extra-image{
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 0.75cm;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
}


.admitting-images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#more-image{
    margin: 2rem auto;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#more-image svg {
    font-size: 4rem;
    color: rgba(var(--black), 0.3);
}

.form-radio{
    display: flex;
    gap: 2rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100vw;
}