    p{
        font-size: 18px;
        margin-bottom: 2rem; 
    }

    label{
        font-size: 16px;
        /* /margin-bottom: 1rem;   */
    }

    .role-input{
        display: flex;
        justify-content: space-between;
        margin-bottom: .25rem;  
    }

    .role-input-item{
        margin-top:0.75rem;
        background-color: #FFFFFF;
        border-radius: 8px; 
        text-align:left;
        padding: 0.25rem;
        width: 4cm;
        margin-bottom:1rem;
    }

    input{
        border: 0.5px solid #1d1d1d;
        border-radius: 8px;
    }

    body{
        background: #F8F8F8;
        margin-right: 5cm;
        /* margin-left: 10cm; */
    }

    .form-input{
        display: flex;
        flex-direction: column;
        gap: .25rem;
        margin-top: .5rem;
    }

    .form-input>input{
        width: 645px;
        height: 40px;
        padding-left: .5cm;
    }

    .form-input-small>input{
        width: 309px;
        height: 40px;
        padding-left: .5cm;
    }

    .line{
        display: flex;
        gap: .7cm;
    }

    .form-input-small{
        display: flex;
        flex-direction: column; 
        gap: .25rem;
        margin-top: .5rem; 
    }

    .btn1{
        margin-top: 1cm;
        background-color: #E53030;
        color: #FFFFFF;
        border-color: #E53030;
        Width: 139px;
        Height:50px;
        border-radius:8px;
    }

    .btn2{
        margin-top: 1cm;
        width: 390px;
        height: 50px;
        border-radius: 0%;
        background: #6100FF;
        border-color: #6100FF;
        border-radius: 8px;
        color: #FFFFFF;
        float: right;
    }

    .part{
        display: flex;
        justify-content: space-between;
    }

    .pic{
        width: auto;
        height:500px;
    }