.customer-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.customer-profile img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.customer-profile__info {
  width: 100%;
  padding: 2rem;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.customer-profile__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
