.orders-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}


.orders-vehicle {
    display: flex;
    align-self: center;
    justify-content: space-between;
    box-shadow: 0 0.25rem 1rem rgba(var(--dark), 0.1);
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 1rem;
}

.orders-vehicle h2 {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2rem;
}


.orders-vehicle span {
    font-weight: normal;
    font-size: 1rem;
}


.order-card {
    box-shadow: 0 0.25rem 1rem rgba(var(--dark), 0.1);
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.order-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.order-card__header p:first-child {
    font-weight: bold;
    font-size: 1.2rem;
}


.order-card__header p:last-child {
    padding: 0.25rem 1.5rem;
    border-radius: 100px;
}

.order-card__header p.due:last-child {
    background-color: rgba(var(--danger), 0.3);
    color: var(--color-danger);

}

.order-items {
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}


.order-items.order-items--active {
    height: 300px;
}


.order-items > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.order-items img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.order-card__info-billing {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.order-card__info-billing > div {
    width: 50%;
}

.order-card__info-billing h3 {
    font-weight: bold;
}

.item-toggle  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}


.product-toggle svg {
    transition: all 0.2s ease-in-out;
}

.product-toggle.product-toggle--active svg {
    transform: rotate(90deg);
}


.item-toggle svg {
    transition: all 0.2s ease-in-out;
}

.item-toggle.item-toggle--active svg {
    transform: rotate(90deg);
}


.order-card__cost {
    display: flex;
    align-items: center;
    gap: 1rem;
}