.jobs-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 0 auto;
}


.jobs-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    position: relative;
    margin-top: 1rem;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    /*background-color: teal;*/
}

.jobs-col__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 3rem;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
}

.jobs-col__heading {
    position: absolute;
    top: 0.5rem;
    left: 70%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-bg-primary);
    /*justify-content: space-evenly;*/
}

.jobs-col__heading span {
    font-size: 1.2rem;
}

.jobs-col__heading span:nth-child(2) {
    justify-self: right;
}

.job-status-indicator {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

.job-status-indicator--todo {
    background-color: var(--color-danger);
}

.job-status-indicator--in-progress {
    background-color: var(--color-warning);
}

.job-status-indicator--completed {
    background-color: var(--color-success);
}


@media screen and (min-width: 768px) {
    .jobs-grid {
        grid-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);

    }

    .jobs-col {
        gap: 2rem;
    }
}


@media screen and (min-width: 992px) {
    .jobs-grid {
        grid-gap: 3rem;
    }

    .jobs-col {
        gap: 2.5rem;
    }
}


@media screen and (min-width: 1200px) {
    .jobs-grid {
        grid-gap: 2rem;
    }

    .jobs-col {
        gap: 1rem;
    }

}


