.vehicle-card-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.vehicle-card {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 0.5rem;
    background-color: var(--color-white);
    box-shadow: 0rem 0.25rem 1rem rgba(var(--dark), 0.2);

}

.vehicle-card p {
    display: flex;
}

.vehicle-card p strong {
    width: 50%;
}

.vehicle-card p span {
    width: 50%;
}

.vehicle-card-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.customer-title{
   margin-bottom: 20px;
   font-size: 1.2rem;
   justify-content: center;  
}

.customer-detail {
    display: flex;
}

.vehicle-card > p {
    display: flex;
}
