.office-create-appointment-form {
    position: relative;
    padding-top: 1rem;
    width: 700px;

}
.office-create-appointment-form .top-part-form {

    margin-bottom: 2rem;
    /*background-color: .e53030;*/
}
.office-create-appointment-form .modal-close-btn svg {
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out
}
.office-create-appointment-form .modal-close-btn svg:hover {
    transform: rotate(90deg);
}

.office-create-appointment-form h1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.office-create-appointment-form h2 {
    padding-top: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.office-create-appointment-form  .modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;

}

.office-create-appointment-input-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;

}

.create-appointment-remarks {
    grid-column: 1 / 3;
}

.create-appointment-remarks textarea{
    resize: none;
}

.office-create-appointment__actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 3rem;
}
