.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-block: 2rem;
    overflow-x: auto;
    padding-block: 0.2rem;
}


.pagination-item {
    background-color: var(--color-white);
    outline: 2px var(--color-light-blue) solid;
    color: var(--color-light-blue);
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
    width: 36px;
    aspect-ratio: 1;
}


.pagination-item--active {
    background-color: var(--color-light-blue);
    color: var(--color-white);
}

.filters {
    margin-bottom: 1rem;
}

.filters__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/*.filters input:focus, .filters select:focus {*/
/*    outline: none;*/
/*}*/


.product-search {
    position: relative;
}


.product-search input {
    padding: 0.5rem 1rem;
    border-radius: 100px;
    box-shadow: 0rem 0.25rem 1rem rgba(var(--dark), 0.2);
    min-width: 250px;
}

.product-search svg {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.filter--select {
    padding: 0.61rem 1rem;
    border-radius: 100px;
    box-shadow: 0rem 0.25rem 1rem rgba(var(--dark), 0.2);
}

.product-price {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 100px;
    background-color: var(--color-white);
    box-shadow: 0rem 0.25rem 1rem rgba(var(--dark), 0.2);
}

.product-price span {
    margin-right: 1rem;
}

.product-price input {
    width: 80px;
    border-left: 2px solid var(--color-text-secondary);
    border-right: 2px solid var(--color-text-secondary);
}

.product-price input:nth-child(3) {
    width: 80px;
    border-left: none;
    border-right: none;
}

.product-price input::placeholder {
    text-align: center;
}

.product-count-and-actions {
    display: flex;
    justify-content: space-between;

    gap: 1rem;
    margin-top: 1rem;
}

.product-table-count {
    text-align: center;

}


.dashboard-pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-block: 0.5rem;
    overflow-x: auto;
    padding-block: 0.2rem;
}


.dashboard-pagination-item {
    background-color: transparent;
    color: rgb(91, 91, 129);
    font-weight: bold;
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
    width: 36px;
    aspect-ratio: 1;
}


.dashboard-pagination-item--active {
    background-color: rgb(91, 91, 129);
    color: var(--color-white);
}

.dashboard-pagination-item--disabled {
    color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
}


/******************** for filters in product page *************************/

.product-filters__dropdown--active {
   height: 280px !important;
}
