/*Analytic filter*/
.analytic-filter-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.analytic-filter-date-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.analytic-filter-date{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.analytic-filter-actions{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}



/*order revenue charts*/


.order-revenue-quantity-chart__header{
    margin-left: 3rem;
    margin-top: 1rem;
}

.order-revenue-quantity-chart__container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.revenue-chart-wrapper{
    margin-bottom: 2rem ;
}

.quantity-chart-wrapper{
    margin-bottom: 2rem ;
}

.order-revenue-quantity-chart-wrapper__header__title{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(var(--dark), 1);
    /*margin-top: 1rem;*/
}

.analytic-revenue-details{
    display: flex;

}

.analytic-quantity-details{
    display: flex;

}

.analytic-card{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;

}

.analytic-card-details{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-top: 1rem;
    gap: 1rem;
}

.analytic-card__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.analytic-card__item__title{
    font-weight: 800;
    color: rgba(var(--dark), 1);
}

.analytic-card__item__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.analytic-card__item__value{
    text-align: right;
}

.revenue-chart{
    width: 75%;
    padding: 1rem;
}
.quantity-chart{
    width: 75%;
    padding: 1rem;

}

#order-revenue-canvas{
    height: 400px !important;
}

#order-quantity-canvas{
    height: 400px !important;
}

.order-revenue-reset-btn{
    display: flex;
    justify-content: flex-end;

}

#reset-revenue-quantity-chart{

}


/*for the pie chart*/

.product-quantity-analytic-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#product-quantity-analytic-details{
    margin-top: 2rem;
}

.product-quantity-analytic-details-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 3rem;
}

.ordered-product-quantity-chart{
    width :40% !important;
    padding-bottom: 1rem;
    padding-top: 3rem;
    margin-right: 3rem;
}

.ordered-products-details{
    margin-bottom: 2rem;
}



/*.order-revenue-quantity-chart__header{*/
/*    background-color: #e53030;*/
/*}*/