
.review-card {
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 2rem rgba(var(--dark), 0.1);
    width: 100%;
}

.reviews-grid{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.reviews-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1.5rem;
    margin-top: .5rem;
}

.review-productName {
    grid-column: 1 / 3;
    /*background-color: red;*/
}

.review-cusName {
    grid-column:3 / 4;
    /*background-color: orange;*/
}

.review-rating {
    grid-column: 4 / 5;
    text-align: center;
    /*background-color: yellow;*/
}

.review-text {
    grid-column: 5 / 7;
    /*background-color: #3df58e;*/
}

.created-date-text{
    grid-column: 7 / 8;
    text-align: right;
    /*background-color: #4699f6;*/
}

.review-titles {
    font-weight: bold;
}

