.appointment{
    width:100% !important;
}

.appointment-card-wrapper{
    background-color: var(--color-white);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-bottom: 2rem;  */
    margin: 0 0 2rem 0;
}

.appointment-card__row{
    display: flex;
    justify-content: space-between;
}

.appointment-card-title{
    font-weight: bold;
}

#view-no-data-pagination{
    font-size: xx-large;
    font: bolder;
    margin-left:25rem;
    width: 100%;;
}