.stock-manager-add-button-set {
    display: flex;
    justify-content: end;
}



#stock-manager-add-supplier-form {
    position: relative;
    padding-top: 1rem;

}

#stock-manager-add-supplier-form .top-part-form {

    margin-bottom: 2rem;
    background-color: #e53030;
}


#stock-manager-add-supplier-form h1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#stock-manager-add-supplier-form .add-supplier-input-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;

}

#stock-manager-add-supplier-form  .modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;

}


#stock-manager-add-supplier-form .modal-close-btn svg {
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out
}
#stock-manager-add-supplier-form .modal-close-btn svg:hover {
    transform: rotate(180deg);
}

#stock-manager-add-supplier-form .add-supplier-actions {
    /*margin-top: 30px;*/
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}


/*update suppliers css*/

