<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan QR Code</title>

    <style>
        .image{
            text-align: center;
            margin-top: 5cm;
        }

        h1{
            text-align: center;
        }
    </style>
</head>

<body>
    <script>
        const btn=document.getElementById('img');
        btn.addEventListener('click',function roll(){
            
        });  
    </script>

    <div class="image">
        <img src="./camera.png" alt="QR code" width="288" height="288" id="img">
    </div>

    <h1>Scan the QR Code</h1>
    
</body>
</html>