/* importing reset */
@import "reset.css";

/* importing variables */
@import "variables/colors.css";

/* importing animations */
@import "animations.css";

/*importing utilities */
@import "utilities.css";

/* importing component styles */
@import "components/buttons.css";
@import "components/form-components.css";
@import "components/cards.css";
@import "components/headers.css";
@import "components/footers.css";
@import "components/links.css";
@import "components/dropdowns.css";
@import "components/tables.css";
@import "components/notifiers.css";
@import "components/modals.css";

/* importing css files for layouts */
@import "layouts/customer-dashboard.css";
@import "layouts/employee-dashboard.css";
@import "layouts/employee-auth.css";

/* importing css files for views */
@import "views/products-page.css";
@import "views/services-page.css";
@import "views/customer-dashboard-profile.css";
@import "views/customer-dashboard-vehicles.css";
@import "views/customer-auth.css";
@import "views/create-employee.css";
@import "views/employee-login.css";
@import "views/home.css";
@import "views/jobs-page.css";
@import "views/view-job.css";
@import "views/office-staff-login.css";
@import "views/office-staff-add-customer.css";
@import "views/office-staff-dashboard-get-customer-vehicle.css"; 
@import "views/add-products.css";
@import "views/add-service.css";
@import "views/office-staff-dashboard-customers-page.css";
@import "views/create-maintenance-report.css";
@import "views/check-qrcode.css";
@import "views/view-suppliers-page.css";
@import "views/products.css";
@import "views/office-staff-dashboard-get-vehicle-by-customer.css";
@import "views/employee-dashboard-profile.css";
@import "views/cart.css";
@import "views/office-staff-dashboard-get-appointment-for-customer.css";
@import "views/office-staff-dashboard-jobcard-page.css";
@import "views/customer-contact-verification.css";
@import "views/customer-dashboard-records.css";
@import "views/customer-dashboard-orders.css";
@import "views/customer-dashboard-appointments.css";
@import "views/admin-dashboard-employees.css";
@import "views/overview.css";
@import "views/admin-overview.css";
@import "views/create-admitting-reports.css";
@import "views/office-staff-dashboard-overview.css";
@import "views/view-appointment.css";
@import "views/view-reviews.css";
@import "views/view-order-details.css";
@import "views/view-admitting-reports.css";
@import "views/office-staff-dashboard-generate-invoice-page.css";
@import "views/cart-checkout.css";
@import "views/all-jobs.css";
@import "views/assigned-job.css";
@import "views/update-service.css";
@import "views/update-products.css";


body{
  font-family: "Nunito", sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  overflow-x: hidden;
  overflow-y: scroll;
}

*,
html,
body {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  /*display: none;*/
}

.fontawesome-i2svg-active body {
  display: initial;
}
