.btn {
    /* colors */
    background-color: var(--color-primary);
    color: var(--color-white);
    /* shape */
    border-radius: 0.5rem;
    /* size */
    padding: 0.75rem 1rem;
    /* transition */
    transition: all 0.2s ease-in-out;
    /* placement of children elements */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    line-height: normal;
}

.btn:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.5rem rgba(var(--primary), 0.2);
}

.btn:active {
    transform: translateY(0.1rem);
}

.btn:disabled {
    background-color: var(--color-disabled);
    cursor: not-allowed;
}

.btn:disabled:hover {
    transform: translateY(0);
    box-shadow: none;
}

.btn:disabled:active {
    transform: translateY(0);
}

/* button variations with colors */

.btn--success {
    background-color: var(--color-success) !important;
}

.btn--success:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(var(--success), 0.2);
}

.btn--info {
    background-color: var(--color-info) !important;
}

.btn--info:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(var(--info), 0.2);
}

.btn--warning {
    background-color: var(--color-warning) !important;
}

.btn--warning:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(var(--warning), 0.2);
}

.btn--danger {
    background-color: var(--color-danger) !important;
}

.btn--danger:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(var(--danger), 0.2);
}

.btn--light {
    background-color: var(--color-light) !important;
    color: var(--color-black);
}

.btn--light:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(var(--light), 0.2);
}

.btn--dark {
    background-color: var(--color-dark) !important;
}

.btn--dark:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(var(--dark), 0.2);
}

.btn--white {
    background-color: var(--color-white) !important;
    color: var(--color-dark);
}

.btn--white:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(var(--white), 0.2);
}

.btn--black {
    background-color: var(--color-black) !important;
}

.btn--black:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(var(--black), 0.2);
}

.btn--dark-blue {
    background-color: var(--color-dark-blue) !important;
}

.btn--dark-blue:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(var(--dark-blue), 0.2);
}

.btn--light-blue {
    background-color: var(--color-light-blue) !important;
}

.btn--light-blue:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(var(--light-blue), 0.2);
}


.btn--light-blue:disabled {
    background-color: var(--color-disabled) !important;
}

.btn--dark-blue:disabled {
    background-color: var(--color-disabled) !important;
}

/* button variations based on state */
.btn--loading {
    pointer-events: none;
}

.btn--loading svg {
    animation: spin 1s ease-in-out infinite;
}

/* button variations based on shape */

.btn--text {
    background-color: transparent !important;
    color: var(--color-primary);
    padding: 0;
    border: none;
    outline: none;
}

.btn--text.btn--primary {
    color: var(--color-primary);
}

.btn--text.btn--success {
    color: var(--color-success);
}

.btn--text.btn--info {
    color: var(--color-info);
}

.btn--text.btn--warning {
    color: var(--color-warning);
}

.btn--text.btn--danger {
    color: var(--color-danger);
}

.btn--text.btn--light {
    color: var(--color-light);
}

.btn--text.btn--dark {
    color: var(--color-dark);
}

.btn--text.btn--white {
    color: var(--color-white);
}

.btn--text.btn--black {
    color: var(--color-black);
}

.btn--text.btn--dark-blue {
    color: var(--color-dark-blue);
}

.btn--text.btn--light-blue {
    color: var(--color-light-blue);
}

.btn--text:hover {
    transform: translateY(0);
    box-shadow: none;
}

.btn--text:active {
    transform: translateY(0);
}

.btn--text:disabled {
    color: var(--color-disabled);
    cursor: not-allowed;
}

.btn--text:disabled:hover {
    transform: translateY(0);
    box-shadow: none;
}

.btn--text:disabled:active {
    transform: translateY(0);
}


.btn--round {
    aspect-ratio: 1;
    border-radius: 50%;
}

.btn--square {
    aspect-ratio: 1;
    padding: 0.75rem;
}

.btn--thin {
    padding: 0.25rem 1rem;
}

.btn--thin:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.5rem rgba(var(--primary), 0.2);
}

.btn--thin:active {
    transform: translateY(0.1rem);
}

.btn--thin:disabled {
    background-color: var(--color-disabled);
    cursor: not-allowed;
}

.btn--thin:disabled:hover {
    transform: translateY(0);
    box-shadow: none;
}

.btn--thin:disabled:active {
    transform: translateY(0);
}

/* button variations based on size */
.btn--block {
    width: 100%;
}


.btn--rounded {
    border-radius: 0.5rem;
    aspect-ratio: 1;
    padding: 0.35rem;
    font-size: 0.8rem;
}


/* special purpose buttons */

.menu-btn {
    color: var(--color-dark);
    border: none;
    outline: none;

    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.menu-btn__bar {
    width: 1.5rem;
    min-height: 0.2rem;
    background-color: var(--color-white);
    margin: 0.2rem 0;
    transition: all 0.2s ease-in-out;
}

.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    min-height: 0.2rem;
    background-color: var(--color-white);
    transition: all 0.2s ease-in-out;
}

.menu-btn__bar::before {
    transform: translateY(-0.6rem);
}

.menu-btn__bar::after {
    transform: translateY(0.6rem);
}

.menu-btn.menu-btn--active .menu-btn__bar {
    background-color: transparent;
}

.menu-btn.menu-btn--active .menu-btn__bar::before {
    transform: rotate(45deg) translate(0.5rem, -0.5rem);
}

.menu-btn.menu-btn--active .menu-btn__bar::after {
    transform: rotate(-45deg) translate(0.5rem, 0.5rem);
}

.menu-btn.menu-btn--scrolled .menu-btn__bar,
.menu-btn.menu-btn--scrolled .menu-btn__bar::before,
.menu-btn.menu-btn--scrolled .menu-btn__bar::after {
    background-color: var(--color-dark);
}

.menu-btn.menu-btn--scrolled.menu-btn--active .menu-btn__bar {
    background-color: transparent;
}

.menu-btn.menu-btn--solid .menu-btn__bar,
.menu-btn.menu-btn--solid .menu-btn__bar::before,
.menu-btn.menu-btn--solid .menu-btn__bar::after {
    background-color: var(--color-dark);
}

.menu-btn.menu-btn--active.menu-btn--solid .menu-btn__bar {
    background-color: transparent;
}

/* menu-button for employee dashboards */
.employee-menu-btn {
    color: var(--color-dark);
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 50%;
    font-size: 1.5rem;
}


@media screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }

}

#cart-link {
    position: relative;
}

#cart-link svg {
    font-size: 1.1rem;
}


.cart-count {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    background-color: var(--color-info);
    color: var(--color-white);
    font-size: 0.8rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: normal;
    display: grid;
    place-items: center;
}
