.form-item {
    /* controlling the position of the children */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-item--no-label {
    gap: 0;
}

.form-item > label > sup {
    color: var(--color-danger);
}

.form-item > input, .form-item > select, .form-item > textarea {

    /* sizes */
    padding-inline: 1rem;
    height: 2.5rem;

    /* shape */
    border-radius: 0.5rem;

    /* borders */
    border: 1px solid rgba(var(--black), 0.2);
    outline: transparent 2px solid;

    /* transtiton */
    transition: all 0.2s ease-in-out;
}

.form-item > textarea {
    height: auto;
}

.form-item > input:focus, .form-item > select:focus, .form-item > textarea:focus, .form-item > datalist:focus ~ input {
    outline: var(--color-primary) 2px solid;
    border: 1px solid transparent;
}

/*.form-input > input:focus, .form-input > select:focus, .form-input > textarea:focus {*/
/*    outline: var(--color-primary) 2px solid;*/
/*    border: 1px solid transparent;*/
/*}*/

label {
    padding: 0;
    margin: 0;
}

/* variations based on content */
.form-item--icon-right {
    /* To enable icon positioning easily */
    position: relative;
}

.form-item--icon-right > input {
    padding-left: 2.25rem;
}

.form-item--icon-right svg {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    left: 0.75rem;
    color: rgba(var(--black), 0.4);
}


/* for checkbox inputs  */


.form-item.form-item--checkbox {
    /* controlling the position of the children */
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}


.form-item.form-item--checkbox > input {
    width: 1.5rem;
    height: 1.5rem;
}

.form-item.form-item--checkbox > input:focus {
    outline: none;
    border: 1px solid transparent;
}


/* variations based on state */

.form-item--error > input {
    outline: var(--color-danger) 2px solid;
    border: 1px solid transparent;
}


.form-item--error > small {
    color: var(--color-danger);
    font-size: 0.75rem;
}

.form-item--error:focus-within > input {
    outline: var(--color-danger) 2px solid;
    border: 1px solid transparent;

}

.form-item--error > label {
    color: var(--color-danger);
    animation: shake 1s ease-in-out;
}