.admin-dashboard__content h2 {
  font-size: 1.1rem;
  line-height: 21px;
}

.admin-dashboard__content h3,
.admin-dashboard__content label {
  font-weight: 700;
  line-height: 19px;
}

.admin-dashboard__content h3 {
  margin-top: 2.5rem;
  margin-bottom: 1.8rem;
}

.admin-dashboard__content .role-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.role-input__item {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
