.employee-dashboard-container__content-header {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}


.employee-dashboard-container__content-header--scrolled {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.employee-dashboard-container {
    display: grid;
    grid-template-columns: auto 100%;

}

.employee-dashboard-container__sidebar {
    grid-column: 1 / 2;
    height: 100vh;
    background-color: var(--color-light-blue);
    padding: 0;
    transition: all 0.2s ease-in-out;
    width: 0;
    overflow: hidden;
}

.employee-dashboard-container__content {
    width: 100vw;
    transition: all 0.2s ease-in-out;

}

.employee-dashboard-page {
    height: calc(100vh - 56px);
    overflow-y: scroll;
}


/*.employee-dashboard-page::-webkit-scrollbar {*/
/*    width: 0.5rem;*/
/*}*/

/*!* Track *!*/
/*.employee-dashboard-page::-webkit-scrollbar-track {*/
/*    background: var(--color-bg-primary);*/
/*}*/

/*!* Handle *!*/
/*.employee-dashboard-page::-webkit-scrollbar-thumb {*/
/*    background: rgba(0, 0, 0, 0.2);*/
/*    border-radius: 0.5rem;*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/

/*!* Handle on hover *!*/
/*.employee-dashboard-page::-webkit-scrollbar-thumb:hover {*/
/*    background: rgba(0, 0, 0, 0.3);*/
/*}*/

.employee-dashboard-container__sidebar nav {
    margin-top: 3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}


.sidebar-brand {
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar-brand img {
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.sidebar-brand p {
    display: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-white);
}


.employee-dashboard-container__content {
    grid-column: 2 / -1;
    height: 100vh;
    background-color: var(--color-light);
}

.employee-dashboard-container__sidebar a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 0;
}

.employee-dashboard-container__sidebar svg {
    font-size: 1.5rem
}

.employee-dashboard-container__sidebar span {
    display: none;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}


.employee-dashboard-container__content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}


.employee-dashboard-page {
    padding-inline: 0.5rem;
}


.employee-dashboard-container--open .employee-dashboard-container__sidebar {
    width: 80vw;
    /*max-width: 300px;*/
    display: initial;
    padding: 1rem;
}

.employee-dashboard-container--open .employee-dashboard-container__sidebar span {
    display: initial;
}


.employee-dashboard-container--open .employee-dashboard-container__sidebar nav {
    align-items: flex-start;
}


@media screen and (min-width: 576px) {
    .employee-dashboard-container__content-header {
        padding-inline: 1rem;
    }


    .employee-dashboard-page {
        padding-inline: 1rem;
    }
}


@media screen and (min-width: 768px) {


    .employee-dashboard-page {
        padding-inline: 1.5rem;
    }

    .employee-dashboard-container__content-header {
        padding-inline: 2rem;
    }

    .employee-dashboard-container__sidebar {
        width: 70px;
        display: block;
        padding: 1rem;
    }

    .employee-dashboard-container__sidebar nav {
        align-items: center;
    }

    .employee-dashboard-container--open .employee-dashboard-container__sidebar {
        width: 300px;
        padding: 1rem;
    }

    .employee-dashboard-container--open .employee-dashboard-container__sidebar nav {
        align-items: flex-start;
    }


    .employee-dashboard-container--open .employee-dashboard-container__content {
        width: calc(100vw - 300px);
    }

    .employee-dashboard-container--close .employee-dashboard-container__sidebar {
        width: 70px;
    }


    /*.employee-dashboard-container--close .employee-dashboard-container__sidebar nav {*/
    /*    align-items: center;*/
    /*}*/
    .employee-dashboard-container--close .employee-dashboard-container__content {
        width: calc(100vw - 70px);
    }

    .employee-dashboard-container--open .employee-dashboard-container__sidebar span {
        display: inline-block;
    }

    .employee-dashboard-container--close .employee-dashboard-container__sidebar span {
        display: none;
    }

    .employee-dashboard-container__content {
        width: calc(100vw - 70px);
    }

    .employee-dashboard-container--open .sidebar-brand {
        gap: 2rem;
    }

    .employee-dashboard-container--open .sidebar-brand p {
        display: block;
    }

    .employee-dashboard-container--close .sidebar-brand {
        gap: 0;
    }

    .employee-dashboard-container--close .sidebar-brand p {
        display: none;
    }


    .employee-dashboard-container__content h1 {
        font-size: 1.8rem;
    }

}

@media screen and (min-width: 1200px) {


    .employee-dashboard-page {
        padding-inline: 2rem;
    }

    .employee-dashboard-container__sidebar {
        width: 300px;
        padding: 1rem;
    }

    .employee-dashboard-container__sidebar nav {
        align-items: flex-start;
    }

    .employee-dashboard-container__sidebar span {
        display: inline-block;
    }

    .employee-dashboard-container--close .employee-dashboard-container__sidebar span {
        display: none;
    }


    .employee-dashboard-container--open span {
        display: inline-block;
    }

    .employee-dashboard-container__content {
        width: calc(100vw - 300px);
    }

    .employee-dashboard-container--open .employee-dashboard-container__sidebar nav {
        align-items: flex-start;
    }

    .employee-dashboard-container--close .employee-dashboard-container__sidebar {
        width: 70px;
    }

    /*.employee-dashboard-container--close .employee-dashboard-container__content {*/
    /*    width: calc(100vw - 70px);*/
    /*}*/
    .employee-dashboard-container--open .employee-dashboard-container__sidebar {
        width: 300px;
    }

    /*.employee-dashboard-container--open .employee-dashboard-container__content {*/
    /*    width: calc(100vw - 300px);*/
    /*}*/
    .sidebar-brand {
        gap: 2rem;
    }

    .sidebar-brand p {
        display: block;
    }

    .employee-dashboard-container--open .sidebar-brand {
        gap: 2rem;
    }

    .employee-dashboard-container--close .sidebar-brand {
        gap: 0;
    }

    .employee-dashboard-container--open .sidebar-brand p {
        display: block;
    }

    .employee-dashboard-container--close .sidebar-brand p {
        display: none;
    }


    .employee-dashboard-container__content h1 {
        font-size: 2rem;
    }

}