/*.employee-dashboard-container {*/
/*    background-color: red;*/
/*    display: flex;*/
/*}*/


/*.employee-dashboard-container__sidebar {*/
/*    width: 0;*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*    transition: all 0.2s ease-in-out;*/
/*    background-color: var(--color-light-blue);*/
/*    z-index: 1;*/
/*}*/


/*.employee-dashboard-container__sidebar--open {*/
/*    width: 100vw;*/

/*}*/

/*.employee-dashboard-container__content {*/
/*    position: relative;*/
/*    flex: 1;*/
/*    height: 100vh;*/
/*    background-color: var(--color-light);*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/


/*.employee-dashboard-container__content--close {*/
/*    width: calc(100% - 60px);*/
/*}*/


/*.employee-dashboard-container__sidebar--open .sidebar-brand {*/
/*    gap: 2rem;*/
/*    padding: 1rem;*/
/*}*/

/*.employee-dashboard-container__sidebar--open .sidebar-brand p {*/
/*    display: block;*/
/*    font-size: 1.5rem;*/
/*    font-weight: 600;*/
/*    color: var(--color-white);*/
/*}*/


/*.employee-dashboard-container__sidebar--close p {*/
/*    display: none;*/
/*}*/


/*.employee-dashboard-container__sidebar--close nav {*/
/*    align-items: center;*/
/*}*/

/*.employee-dashboard-container__sidebar--open nav {*/
/*    align-items: flex-start;*/
/*}*/

/*.employee-dashboard-container__sidebar--close a {*/
/*    gap: 0;*/
/*}*/


/*.employee-dashboard-container__sidebar--close span {*/
/*    !*width: 0;*!*/
/*    display: none;*/
/*}*/

/*.employee-dashboard-container__sidebar--open span {*/
/*    display: inline-block;*/
/*}*/


/*@media screen and (min-width: 768px) {*/
/*    .employee-dashboard-container__sidebar {*/
/*        width: 70px;*/
/*    }*/

/*    .sidebar-brand {*/
/*        width: 100%;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        padding: 1rem;*/
/*    }*/

/*    .sidebar-brand img {*/
/*        border-radius: 0.5rem;*/
/*    }*/

/*    .sidebar-brand p {*/
/*        display: none;*/
/*    }*/

/*    .employee-dashboard-container__sidebar nav {*/
/*        align-items: center;*/
/*    }*/

/*    .employee-dashboard-container__sidebar a {*/
/*        gap: 0;*/
/*    }*/
/*    .employee-dashboard-container__sidebar--open a {*/
/*        gap: 1rem;*/
/*    }*/

/*    .employee-dashboard-container__sidebar--open {*/
/*        width: 300px;*/
/*    }*/

/*    .employee-dashboard-container__sidebar--open nav {*/
/*        align-items: flex-start;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1200px) {*/

/*    .employee-dashboard-container__sidebar {*/
/*        width: 300px;*/
/*    }*/

/*    .sidebar-brand {*/
/*        gap: 2rem;*/
/*        padding: 1rem;*/
/*    }*/

/*    .sidebar-brand img {*/
/*        border-radius: 0.5rem;*/
/*    }*/

/*    .sidebar-brand p {*/
/*        display: block;*/
/*        font-size: 1.5rem;*/
/*        font-weight: 600;*/
/*        color: var(--color-white);*/
/*    }*/

/*    .employee-dashboard-container__sidebar nav {*/
/*        align-items: flex-start;*/
/*    }*/

/*    .employee-dashboard-container__sidebar--open {*/
/*        width: 300px;*/
/*    }*/

/*    .employee-dashboard-container__sidebar--close {*/
/*        width: 70px;*/
/*    }*/

/*    !*.employee-dashboard-container__sidebar--close nav {*!*/
/*    !*    align-items: center;*!*/
/*    !*}*!*/

/*    .employee-dashboard-container__sidebar span {*/
/*        display: inline-block;*/
/*    }*/

/*    .employee-dashboard-container__sidebar--close span {*/
/*        !*width: 0;*!*/
/*        display: none;*/
/*    }*/

/*}*/


.employee-dashboard-container__content-header {
    padding-right: 2rem;
}

.employee-dashboard-container {
    display: grid;
    grid-template-columns: auto 100%;

}

.employee-dashboard-container__sidebar {
    grid-column: 1 / 2;
    height: 100vh;
    background-color: var(--color-light-blue);
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    width: 0;
    overflow: hidden;
}

.employee-dashboard-container__content {
    width: 100vh;
    transition: all 0.2s ease-in-out;

}

.employee-dashboard-container__sidebar nav {
    margin-top: 3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}


.sidebar-brand {
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar-brand img {
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.sidebar-brand p {
    display: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-white);
}


.employee-dashboard-container__content {
    grid-column: 2 / -1;
    height: 100vh;
    background-color: var(--color-light);
}

.employee-dashboard-container__sidebar a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 0;
}

.employee-dashboard-container__sidebar svg {
    font-size: 1.5rem
}

.employee-dashboard-container__sidebar span {
    /*width: 0;*/
    display: none;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}


.employee-dashboard-container__content h1 {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}


@media screen and (min-width: 768px) {
    .employee-dashboard-container__sidebar {
        width: 70px;
    }

    .employee-dashboard-container__sidebar nav {
        align-items: center;
    }

    .employee-dashboard-container--open .employee-dashboard-container__sidebar {
        width: 300px;
    }

    .employee-dashboard-container--open .employee-dashboard-container__sidebar nav {
        align-items: flex-start;
    }


    .employee-dashboard-container--open .employee-dashboard-container__content {
        width: calc(100vw - 300px);
    }

    .employee-dashboard-container--close .employee-dashboard-container__sidebar {
        width: 70px;
    }

    .employee-dashboard-container--close .employee-dashboard-container__content {
        width: calc(100vw - 70px);
    }

    .employee-dashboard-container--open .employee-dashboard-container__sidebar span {
        display: inline-block;
    }

    .employee-dashboard-container--close .employee-dashboard-container__sidebar span {
        display: none;
    }

    .employee-dashboard-container__content {
        width: calc(100vw - 70px);
    }

    .employee-dashboard-container--open .sidebar-brand {
        gap: 2rem;
    }

    .employee-dashboard-container--open .sidebar-brand p {
        display: block;
    }

    .employee-dashboard-container--close .sidebar-brand {
        gap: 0;
    }

    .employee-dashboard-container--close .sidebar-brand p {
        display: none;
    }


    .employee-dashboard-container__content h1 {
        font-size: 1.8rem;
    }

}

@media screen and (min-width: 1200px) {
    .employee-dashboard-container__sidebar {
        width: 300px;
    }

    .employee-dashboard-container__sidebar nav {
        align-items: flex-start;
    }

    .employee-dashboard-container__sidebar span {
        display: inline-block;
    }

    .employee-dashboard-container--close span {
        display: none;
    }

    .employee-dashboard-container--open span {
        display: inline-block;
    }

    .employee-dashboard-container__content {
        width: calc(100vw - 300px);
    }

    .employee-dashboard-container--open .employee-dashboard-container__sidebar nav {
        align-items: flex-start;
    }

    .employee-dashboard-container--close .employee-dashboard-container__sidebar {
        width: 70px;
    }

    /*.employee-dashboard-container--close .employee-dashboard-container__content {*/
    /*    width: calc(100vw - 70px);*/
    /*}*/
    .employee-dashboard-container--open .employee-dashboard-container__sidebar {
        width: 300px;
    }

    /*.employee-dashboard-container--open .employee-dashboard-container__content {*/
    /*    width: calc(100vw - 300px);*/
    /*}*/
    .sidebar-brand {
        gap: 2rem;
    }

    .sidebar-brand p {
        display: block;
    }

    .employee-dashboard-container--open .sidebar-brand {
        gap: 2rem;
    }

    .employee-dashboard-container--close .sidebar-brand {
        gap: 0;
    }

    .employee-dashboard-container--open .sidebar-brand p {
        display: block;
    }

    .employee-dashboard-container--close .sidebar-brand p {
        display: none;
    }


    .employee-dashboard-container__content h1 {
        font-size: 2rem;
    }

}